<ion-header>
<ion-toolbar>
<ion-title>
  TUTORIALES
</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <iframe [src]="showVideo(videoUrl)"[align]="true" width="100%" height="50%"></iframe>
  <iframe [src]="showVideo(videoUrl)"[align]="true" width="100%" height="50%"></iframe>
  <iframe [src]="showVideo(videoUrl)"[align]="true" width="100%" height="50%"></iframe>
  <iframe [src]="showVideo(videoUrl)"[align]="true" width="100%" height="50%"></iframe>

</ion-content>
